.navigation {
  margin-top: -10px;
  padding: 0 20px;
  font-family: "Roboto Mono", monospace;
  background-color: #dddedd;
  border-bottom: 1px solid #ddd;
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  transition: top 0.5s ease;
}

@media (max-width: 767px) {
  .navigation {
    top: -100%;
  }
  .navigation.navigation--visible {
    top: 0;
  }
}

.navigation__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
  padding-top: 10px;
}

@media (max-width: 767px) {
  .navigation__list {
    flex-direction: column;
  }
}

.navigation__element {
  font-size: 18px;
  color: #4d0049;
  font-size: larger;
  margin: 0 40px;
  padding: 5px;
  width: 100%;
  text-align: center;
}

.navigation__element:hover {
  transform: scale(1.05);
  color: hsl(303, 100%, 25%);
  transition: color 1s, transform 1.5s;
}

.navigation__link {
  text-decoration: none;
  color: #4d0049;
}

.navigation__link:hover {
  transform: scale(1.05);
  color: hsl(303, 100%, 30%);
  transition: color 1s, transform 1.5s;
}
